Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
WTForms
email_validator
Werkzeug
pandas
numpy
mlxtend
scikit-learn
matplotlib
seaborn
python-dotenv
gunicorn
psycopg2-binary
openpyxl
google-auth-oauthlib
google-auth-httplib2
google-auth
requests
